<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Auction_BAAEntities" connectionString="metadata=res://*/Models.AuctionModel.csdl|res://*/Models.AuctionModel.ssdl|res://*/Models.AuctionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gogs.wsr.ru;initial catalog=Auction_BAA;user id=177-22;password=177-22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>